.App {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
}

label input {
  width: 100%;
  padding: 1%;
}

input:checked + span {
  text-decoration: line-through;
}

button {
  cursor: pointer;
  padding: 1%;
}

ul {
  padding: 0;
  list-style: none;
}

li,
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.delete {
  color: red;
  cursor: pointer;
}
